<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prova X</title>
    <link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="screen, print">
    <style>
        @media screen {
            body {
                background-color: rgb(218, 220, 221);
                
            }
            .questionContainer {
                margin: 0 auto;
                padding: 16px;
                background-color: white;
                box-shadow: 0 3px 3px rgba(0,0,0,0.4)
            }
        }
    </style>
</head>
<body>
    <div class="questionContainer">
        <p class="test-level">PCAM1801-P110: Médio Completo</p>
        <table class="header">
            <tr>
                <th>Tempo</th>
                <th colspan="5">Dificuldade</th>
                <th>Item do programa</th>
                <th colspan="5">Alternativa correta</th>
                <th>Questão</th>
            </tr>
            <tr>
                <td class="time">01:00</td>
                <td class="diffLevel">MF</td>
                <td class="diffLevel">F</td>
                <td class="diffLevel selected">M</td>
                <td class="diffLevel">D</td>
                <td class="diffLevel">MD</td>
                <td class="subject">Sinônimos e antônimos</td>
                <td class="answer selected">A</td>
                <td class="answer">B</td>
                <td class="answer">C</td>
                <td class="answer">D</td>
                <td class="answer">E</td>
                <td class="number">03</td>
            </tr>
        </table>

        <div class="solution">
            <h4 class="label">Resolução:</h4>
            <div class="text">
                <!-- EXAMPLE SOLUTION -->
                <p>Dentre as expressões elencadas nas alternativas, aquelas que exprimem corretamente o sentido dos termos destacados em seus contextos são:
                    <br>1. Cegos: (A) sem discernimento, (B) sem visão, (C) sem consciência, (D) sem clareza 
                    <br>2. Amenizar: (A) abrandar, (B) mitigar, 
                    <br>3. Relacional: (A) de interação, (D) de ligação, 
                    <br>4. Alento: (A) ânimo, (C) esperança, (D) ânimo</p>

                <p>A alternativa que contém expressões sinônimas a todos os termos em destaque é (A).</p>
            </div>
        </div>
        <div class="analysis">
            <h4 class="label">Análise e Sugestões:</h4>
            <div class="text">
                <!-- EXAMPLE ANALYSIS -->
                <p>A questão aborda a sinonímia de maneira satisfatória e condizente com o nível, a partir de expressões selecionadas em contextos de uso.</p>
                <p>A expressão “ânimo” (sin. de alento) está repetida nas alternativas (A) e (D). Sugiro trocar por expressão similar, tal como “conforto”.</p>
            </div>
        </div>
        <div class="notouch">
            <span>Sr(a) Revisor(a), não use este espaço</span>
            <div>
                <h5>ESPAÇO DESTINADO À BANCA ELABORADORA</h5>
                <p>Parecer sobre os apontamentos da banca revisora para esta questão:</p>
                <p class="ballot">
                    <strong>Resolução</strong>
                    <span class="check">concordo</span>
                    <span class="check">concordo parcialmente</span>
                    <span class="check">discordo</span>
                </p>
                <p class="ballot">
                    <strong>Análise e Sugestões</strong>
                    <span class="check">concordo</span>
                    <span class="check">concordo parcialmente</span>
                    <span class="check">discordo</span>
                </p>
                <p><strong>Em caso de discordância, justifique:</strong></p>
            </div>
        </div>
    </div>
    
</body>
</html>